@import "tailwindcss";

@theme {
  /* 1. Primario: Azul Don Guayo Oficial */
  --color-brand-blue: #015a85;
  
  /* 2. Secundario: Verde Campo/Granjero (Extraído de las botas/overol del logo) */
  --color-brand-green: #107c41;
  
  /* 3. Acento: Amarillo Claro / Crema de contraste para botones y hovers */
  --color-brand-accent: #fffcf0;

  /* Fondo estructural base */
  --color-brand-cream: #ffefc6;
  
  --font-poppins: "Poppins", sans-serif;
}

:root {
  /* Establecemos el color crema como fondo principal de la aplicación */
  --background: #ffefc6;
  --foreground: #015a85; /* Cambiado a azul para que todo el texto base combine con la marca */
}

body {
  font-family: var(--font-poppins);
  background-color: var(--background);
  color: var(--foreground);
  margin: 0;
}