@import "tailwindcss";

@theme {
  --color-brand-blue: #005a85;
  --color-brand-cream: #ffefc6;
  --font-poppins: "Poppins", sans-serif;
}

:root {
  /* Establecemos el color crema como fondo principal */
  --background: #ffefc6;
  --foreground: #171717;
}

body {
  font-family: var(--font-poppins);
  background-color: var(--background);
  color: var(--foreground);
  margin: 0;
}